.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.paper {
  padding: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activeBox {
  animation: tada 1.5s linear infinite;
}

@keyframes tada {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}